@each $key, $val in $colors{
    .btn-#{$key}{
        text-decoration: none;
        cursor: pointer;
        display: block;
        border: 0;
        border-radius: $base-border-radius;
        background-color: $val;
        padding: $base-button;
    }
}