@use 'sass:math';

@mixin btn($bg-color: #e2e2e2){
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        border: 0;
        border-radius: math.div($base-border-radius, 2);
        background-color: $bg-color;
        padding: $base-button-padding;
        
}

.btn{
    @include btn;
}


@each $key, $val in $colors{
    .btn-#{$key}{
       @include btn($val);
       &:hover{
        background-color: lighten($color: $val, $amount: 5);
       } 
    }

    .btn-outlined-#{$key}{
        @include btn(#fff);
        border: $base-border-thickness solid $val;
        &:hover{
            background-color: $val;
        }
    }


}

@each $key, $val in $buttons{
    .btn-#{$key}{
        @include btn($val);
        padding: $val;
    }
}