@use 'sass:math';

.card{
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    border-radius: math.div($base-border-radius , 2);
    color: $primary;
    width: auto;
    height: auto;
    box-shadow: $base-box-shadow;


    .card-title{
        font-size: $font-size-md;
        padding-bottom: $base-padding;
    }

    .card-body{
        font-size: $base-font-size;
    }
    
}