@use 'sass:math';

.plaque{
    display: block;
    padding: $base-padding * 3;
    border-radius: math.div($base-border-radius, 2);
    border: none;

    .plaque-body{
        font-size: $base-font-size;
        font-weight: bold;
        color: $primary;
    }

   
}

 @each $key, $val in $colors{
        .plaque-#{$key}{
            @extend .plaque;
            background-color: $val; 
        }
    
    }