// theme colors

$primary: #130B46 !default;
$secondary: #FFAD99 !default;
$error: #d32752 !default;
$info: #661400 !default;
$success: #8AE58D !default;
$pink-purple: #FFEBFF !default;
$pastel-green: #EBFFEB !default;
$pastel-yellow: #FFF7D6 !default;
$pastel-purple: #C499FF !default;

// colors

$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "success": $success,
    "pink-purple": $pink-purple,
    "pastel-green": $pastel-green,
    "pastel-yellow": $pastel-yellow,
    "pastel-purple": $pastel-purple,
    "red": #FF0000,
    "green": #80FF00,
    "blue": #0000FF,
    "yellow": #FFFF00,
    "orange":#FF8000,
    "purple": #8000FF,
    "grey": #808080,
    "black": #000000,
    "white": #FFFFFF

);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;


// font-sizes
$base-font-size: 16px;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.5;
$font-size-lg: $base-font-size * 2;
$font-size-xl: $base-font-size * 3;
$font-size-xxl: $base-font-size * 4;


// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);